<main class="container-custom">
  <section class="container-login">
    <h2>Recuperación de contraseña</h2>
    <form
      [formGroup]="formularioIngreso"
      (submit)="sendEmail()"
      class="form-container"
    >
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-between"
        class="custom"
      >
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="Ingrese su usuario"
            formControlName="correo"
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="formularioIngreso.invalid"
        >
          Enviar link de recuperación
        </button>
      </div>
    </form>
    <div class="container-lost-password">
      <a routerLink="/login" class="text-forgot-password">
        <p>Iniciar sesión</p>
      </a>
    </div>
  </section>
</main>
