<main class="container">
  <div class="form-container">
    <h2>Nueva contraseña</h2>
    <form [formGroup]="formularioIngreso" (submit)="ChangePassword()" class="form">
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-between"
        class="custom"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            placeholder="Nueva contraseña"
            formControlName="contraseña"
            type="password"
          />
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            placeholder="Nueva contraseña"
            formControlName="confirmcontraseña"
            type="password"
          />
        </mat-form-field>
    

      <button type="submit" mat-raised-button color="primary"    [disabled]="formularioIngreso.invalid">
        Cambiar contraseña
      </button>
      </div>
    </form>
  </div>
</main>
