.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 30px;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
  
    border: 1px solid #ccc;
  }

  .form {
    width: 460px;
  padding: 15px 0;


  }