<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Anahí Apartamentos</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <img src="../../../../assets/profile.png" alt="profile" width="30px" height="30px">
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>launch</mat-icon>
                            <span>Gestionar Cuenta</span>
                        </button>
                        <button mat-menu-item (click)="cerrarSesion()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span >Cerrar Sesión</span>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>