<h1>Cliente</h1>
<div class="content-client">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-stroked-button (click)="openDialogWithoutRef()">Nuevo</button>
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Ex. Juan" (keyup)="applyFilter($event)" />
      <div matSuffix mat-icon.button>
        <mat-icon>search</mat-icon>
      </div>
    </mat-form-field>
  </div>
</div>

<div class="content-table-client">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let row">{{ row.last_name }}</td>
    </ng-container>
    <ng-container matColumnDef="Documento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
      <td mat-cell *matCellDef="let row">{{ row.document }}</td>
    </ng-container>
    <ng-container matColumnDef="Extranjero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Extranjero</th>
      <td mat-cell *matCellDef="let row">{{ row.is_foreign }}</td>
    </ng-container>
    <ng-container matColumnDef="Provincia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</th>
      <td mat-cell *matCellDef="let row">{{ row.province.province_name }}</td>
    </ng-container>
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>
    <ng-container matColumnDef="Telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row">{{ row.phone_number }}</td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div fxflex xLayout="row" fxLayoutAlign="start center">
          <button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="openDialogDeleteClient()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <mat-paginator
    [length]="clients.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
<ng-template #secondDialog>
  <form [formGroup]="formularioRegCliente">
    <div>
      <h1>Registrar</h1>
      <!-- <button mat-button mat-dialog-close mat-icon>
                <mat-icon>close</mat-icon>
            </button> -->
    </div>
    <div mat-dialog-content>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Ingrese su nombre"
            formControlName="nombre"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Ingrese su apellido"
            formControlName="apellido"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="Ingrese su Correo"
            formControlName="correo"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input
            matInput
            placeholder="Ingrese su Telefono"
            formControlName="telefono"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Documento</mat-label>
          <input
            matInput
            placeholder="Ingrese su Documento"
            formControlName="documento"
            
          />
        </mat-form-field>
      </p>
      <p>
        <input 
        placeholder="Ingrese su Extranjero"
            formControlName="extranjero"
            type="checkbox"
        />
        <!-- <mat-form-field appearance="outline">
          <mat-label>Extranjero</mat-label>
          <input
            matInput
            placeholder="Ingrese su Extranjero"
            formControlName="extranjero"
            
          />
        </mat-form-field> -->
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Provincia</mat-label>
          <input
            matInput
            placeholder="Ingrese su Provincia"
            formControlName="provincia"
            type="number"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Genero</mat-label>
          <input
            matInput
            placeholder="Ingrese su genero"
            formControlName="genero"
            type="number"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Tipo documento</mat-label>
          <input
            matInput
            placeholder="Ingrese su tipo documento "
            formControlName="tipoDocumento"
            type="number"
          />
        </mat-form-field>
      </p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-stroked-button (click)="regCliente()" [disabled]="formularioRegCliente.invalid">Guardar</button>
    </div>
  </form>
</ng-template>
<ng-template #deleteDialog>
  <form [formGroup]="formularioRegCliente">
    <div>
      <h1>Eliminar</h1>
      <!-- <button mat-button mat-dialog-close mat-icon>
                <mat-icon>close</mat-icon>
            </button> -->
    </div>
    <div mat-dialog-content>
      <p>¿Desea eliminar al cliente?</p>
      
      </div>
      
      
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-stroked-button  [disabled]="formularioRegCliente.invalid">Eliminar</button>
    </div>
    </form>
  
</ng-template>
